@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&display=swap');

.Background {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Background::after {
  content: '';
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px) brightness(.5);
}

.Content {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  place-items: center;
}

.Timer {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Golos Text', sans-serif; 
  margin: 0px 5px;

  text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 10.5px #fff, 0 0 20.5px ;
	color: white;
	text-align: center;	  	
}

.Digit {
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}

.Title {
  color: white;

  font-family: 'Golos Text', sans-serif; 
}

@media all and (max-width: 580px) {
  .Digit {
    flex-direction: column-reverse;
    margin: 20px 0px;
  }
  .Content {
    flex-direction: column;
  }
  .Colon {
    display: none;
  }
}